<div class="contacts">
    <div class="left-bar1">
        <div class="pic">
    
            <img src="../../assets/den.png"><p>Dennis Han</p>
        </div>
    
        <div class="pic1">
           
            <img src="../../assets/eric.png"> <p>Eric Jones</p>
        </div>
    
        <div class="pic1">
    
            <img src="../../assets/cynthia2.png"><p>Cynthia Lopez</p>
        </div>
    
        <div class="pic1">
    
            <img src="../../assets/betty2.png"><p>Betty Chan</p>
        </div>
        <div class="pic1">
    
            <img src="../../assets/tina.png"><p>Tina Lim</p>
            
        </div>

        <div class="pic1">
    
            <img src="../../assets/mollycarter.png"><p>Molly Carter</p>
            
        </div>
      
            
    </div>
    
    
</div>
