.tool{
    height: 50%;
    width: 100%;
    color: white;
    background-color: #333333;
    display: flex;
    flex-direction: row;
}

.main-container{
    color:#fff;
  
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 100vw;
    height: 100%;
}
.left-box{
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 33.33%;
  
    height: 100%;
}  


input{
    width: 207px;
    border-radius: 50px;
    margin-top: 10px;
    background-color: #333333;
    height: 30px;
    display: flex;
    align-items: center;
    align-content: center;
   
}

img{
    margin-top: 5px;
    
}
.icons{
    display: flex;
    flex-direction: row;
    text-align: center;
    color: white;
    width: 33.3%;
    gap: 35%;
    height:100%;
    margin-right: 30%;
   
}

img{
    height: 40px;
    width: 50px;   
    gap: 5%;
}
.right-box{
    width: 40px;
    display: flex;
    flex-direction: row;
    width: 33.3%;
  
    height: 100%;
}
p{
    margin-top: 5%;
}