<div class="main-container">
  <div class="left-box">
  <img src="../../assets/Facebook-logo (1).png"  height="40px" width="60px">
  
    <input type="text" placeholder="Search Facebook">
  </div>

   <div class="icons">
    
    <img src="../../assets/icon1.png">
    <img src="../../assets/icon2.png">
    <img src="../../assets/icon 3.png">
    <img src="../../assets/icon4.png">

   </div>

   <div class="right-box">
    <img src="../../assets/profile.png"><p>Josephine</p>
    <img src="../../assets/icon6.png">
    <img src="../../assets/icon7.png">
    <img src="../../assets/icon8.png">
    <img src="../../assets/icon9.png">
    
    
   </div>
  </div>


