<div class="left-bar1">
    <div class="pic">

        <img src="../../assets/profile.png"><p>Josephine Williams</p>
    </div>

    <div class="pic1">
       
        <img src="../../assets/watch.png"> <p>Watch</p>
    </div>

    <div class="pic1">

        <img src="../../assets/Events.png"><p>Events</p>
    </div>

    <div class="pic1">

        <img src="../../assets/friends.png"><p>Friends</p>
    </div>
    <div class="pic1">

        <img src="../../assets/memories.png"><p>Memories</p>
        
    </div>
    <div class="line">
        <input type="text" placeholder="See More"><br>
       
        </div>
        <hr>
</div>

