<div class="container">
    <div class="toolbar">

    </div>
    <div class="main">
        <div class="lef-side">
            <app-lef-side></app-lef-side>
        </div>
        <div class="middle-side">
            <app-middle-side></app-middle-side>
        </div>
        <div class="right-side">
            <app-right-side></app-right-side>
        </div>

        <div class="see">
            <app-see></app-see>
        </div>
        <div class="more">
            <app-more></app-more>
        </div>
    </div>
</div>
