.container{
    height: 100vh;
    background-color: #18191A;
    display: flex;
    flex-direction: column;

}
.main{
    display: flex;
    flex-direction: row;
    height: 100%;
}
.toolbar{
height: 10%;
width: 100%;
display: flex;
flex-direction: row;
background-color:#242527 ;
color: aliceblue;
}

.lef-side{

width: 30%;
height: 100%;
}
.middle-side{

width: 40%;
height: 100%;

}
.right-side{
height: 100%;
width: 30%;

}
    
  