<div class="left-bar2">
   <h4>Shortcuts</h4>
   <div class="left-bar1">
   
    <div class="pic1">
       
        <img src="../../assets/undiscovered.png"> <p>undiscovered Eats</p>
    </div>

    <div class="pic1">
       
        <img src="../../assets/weekend.png"> <p>Weekend Trips</p>
    </div>

    <div class="pic1">

        <img src="../../assets/jasper's market.png"><p>Japer's Market</p>
    </div>

    <div class="pic1">

        <img src="../../assets/redtable.png"><p>Red Table Talk Group</p>
    </div>
    <div class="pic1">

        <img src="../../assets/besthidden.png"><p>Best Hidden Hiking Trails</p>
        
    </div>
    <div class="line">
        <input type="text" placeholder="See More"><br>
       
        </div>
        <hr>
</div>


</div>

