.sponsored{
   display: flex;
   flex-direction: row;
   margin-top: 15px;
    height:30% ;
}
img{
    width: 70%;
    height: 170px;
    margin-left: 26px;
    margin-top: 10px;
}
p{
    color: white;
    color: white;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
hr{
    margin-left: 15px;
    margin-right: 10px;
}