<div class="comments">
    <div class="search-box">
        <img src="../../assets/profile.png">
        <div class="line">
        <input type="text" placeholder="what's on your mind Josephine"><br>
        <hr>
        </div>
    </div>
    
    <div class="com">
        <i class="fa-solid fa-file-image" style="color: greenyellow;"></i><p>Photo/Video</p>
        <i class="fa-solid fa-user-tag" style="color: blue;"></i><p>Tag Friends</p>
        <i class="fa-solid fa-face-smile" style="color: yellow;"></i><p>Feeling/Activity</p>
    </div>
</div>
